ホーム画面

<div>
<%= questions.title %>
<%= questions.genre_id %>
<%= questions.content %>
<%= questions.limit_id %>

<%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
</div>

