<div class="mypage_base">
  <div class="mypage_icon">
    <% if @user.image.attached? %>
      <%= image_tag @user.image, class: 'mypage_icon_image' %>
    <% end %>
  </div>
  <div class="mypage_base_items"> 
    <div class="mypage_nickname">
      <%= @nickname %>
    </div>
    <div class="mypage_univ">
      <%= Univ.find(@user.univ_id).name %>
    </div>
    <div class="mypage_user">
      <% if @newuser == 1 %>
        在校生
      <% else %>
        新入生
      <% end %>
    </div>
  </div>
</div>
<div class="mypage_info">
  <% if @info.present? %>
    <div class="mypage_faculty">
      <%= @info.faculty %>
    </div>
      得意ジャンル
    <div class="mypage_jenrus">
      <div class="mypage_jenru">
        <%= Genre.find(@info.genre_first_id).name %>
      </div>
      <div class="mypage_jenru">
        <%= Genre.find(@info.genre_second_id).name %>
      </div>
      <div class="mypage_jenru">
        <%= Genre.find(@info.genre_third_id).name %>
      </div>
    </div>
    <div class="mypage_info_profile">
      <%= @info.profile %>
    </div>
  <% end %>
</div>

<div class="mypage_contents">
<% if @newuser == 1 %>   <!-- 在校生の場合 -->
  <% if @answers.present? %>
  <% @answers.each do |answer| %>
  <div class="answer_main">
    <div class="answer_user_infos">
      <div class="answer_user_image">
        <% if answer.user.image.attached? %>
          <%= image_tag answer.user.image %>
        <% else %>
          <%= image_tag("icon1.png") %>
        <% end %>
      </div>
      <div class="answer_user_info">
        <div class="answer_univ">
          <%= Univ.find(answer.user.univ_id).name %>
        </div>
        <div class="answer_nickname">
          <%= User.find(answer.user_id).nickname %>
        </div>
        <div class="answer_date">
          投稿日：<%= answer.updated_at.strftime('%Y-%m-%d') %>
        </div>
      </div>
    </div>
    <div class="answer_content">
      <%= answer.content %>
    </div>
    <div class="answer_image">
      <% if answer.image.attached? %>
        <%= image_tag answer.image, class: 'image-class' %>
      <% end %>
    </div>
    <div class="answer_comment">
      <%= link_to "コメントを見る", question_answer_path(answer.question, answer) %>
    </div>
  </div>
  <% end %>
  <% else %>
    <p>回答はありません</p>
  <% end %>

<% else %> <!-- 新入生の場合 -->
  <% if @questions.present? %>
    <% @questions.each do |question| %>
    <div class="question_show_main">
      <div class="main_genre">
        ジャンル：<%= Genre.find(question.genre_id).name %> 
      </div>
      <div class="main_title">
        タイトル：<%= link_to question.title, question_path(question.id) %>
      </div>
      <div class="main_question_date">
        投稿日：<%= question.updated_at.strftime('%Y-%m-%d') %>
      </div>
      <div class="main_items">
        <div class="main_content">
          <div class="main_content_sub">
            質問内容：
          </div>
          <%= question.content %>
        </div>
        <div class="main_content_image">
          <% if question.image.attached? %>
            <%= image_tag question.image, class: 'image-class' %>
          <% end %>
        </div>
      </div>
      <div class="foot_items">
        <div class="foot_sub_item">
          <%= image_tag("hurt.png", class: :hurt) %>
          <div class="hurt_qty">
            2
          </div>
          <%= image_tag("comment.png",  class: :comment) %>
          <div class="comment_qty">
            1
          </div>
        </div>
        <div class="main_limit">
          回答期限：
          <% if question.limit_id.present? %>
            <% days_to_add = question.limit_id %>
            <% new_time_object = question.updated_at + days_to_add.days %>
            <%= new_time_object.strftime("%Y-%m-%d") %>
          <% end %>
        </div>
      </div>
      <div class="delete">
        <%= link_to '削除', question_path(question.id), data: { turbo_method: :delete } %>
      </div>
    </div>
    <% end %>
  <% else %>
    <p>投稿はありません</p>
  <% end %>

<% end %>
</div>


<% if current_user.newuser == true %>
  <% if @info.present? %>
    <%= link_to "プロフィールの編集", edit_user_path(current_user) %>
    <%= link_to "先輩学生情報の修正", edit_info_olduser_path(current_user.id) %>
  <% else %>
    <%= link_to "プロフィールの編集", edit_user_path(current_user) %>
    <%= link_to "先輩学生情報の追加", new_info_olduser_path(current_user.id) %>
  <% end %>
<% else %>
  <%= link_to "プロフィールの編集", edit_user_path(current_user) %>
<% end %>


<%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>