<h1>回答するための回答index画面</h1>

タイトル：
<%= @question.title %>




<% @questions.each do |question| %>
タイトル：
<%= question.title %>
ジャンル：
<%= Genre.find(question.genre_id).name %> 
質問内容：
<%= question.content %>
    回答期限：
    <% if question.limit_id.present? %>
      <% days_to_add = question.limit_id %>
      <% new_time_object = question.updated_at + days_to_add.days %>
      <%= new_time_object.strftime("%Y-%m-%d") %>
    <% end %>
<% if question.image.attached? %>
<%= image_tag question.image, class: 'image-class' %>
<% end %>

            <%= link_to '回答する', new_answer_path %>

<% end %>