<h1>回答画面</h1>

    <h3>回答する</h3>
タイトル：<%= @question.title %>
内容：<%= @question.content %>


    <%= form_with(model: @answer,url: question_answers_path(@question), local: true) do |f| %>
      <%= f.text_field :content, placeholder: "回答内容" %>
      <%= f.file_field :image, placeholder: "画像" %>
      <%= f.submit "回答する" %>
      
    <% end %>

