<!DOCTYPE html>
<html>
  <head>
    <title>UnivQA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<%= link_to :back do %>
  <button>戻る</button>
<% end %>
<%= link_to "トップへ", root_path %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  ----------------------------------
  

  <body>
    <%= yield %>
  </body>

------------------------------------

<footer>
  <% if user_signed_in? %>
          <div class="user_nav grid-6">
           <span><%= current_user.nickname %>
            <ul class="user__info">
              <li>
                <%= link_to "マイページ", "/users/#{current_user.id}" %>
                <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
              </li>
            </ul>
          </span>
            <%= link_to "投稿する", new_question_path, class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
</footer>
</div>
</html>
