<!DOCTYPE html>
<html>
  <head>
    <title>UnivQA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


    <div class="body__container">
  <body>
    <header class="header">
      <div class="head_icon">
        <%= link_to :back do %>
          <%= image_tag("back.png", class: :back) %>
        <% end %>
        <div class="head_names">
          <% if user_signed_in? %>
          <div class="head_name">
            <%= current_user.nickname %>
          </div>
        </div>
        <% else %>
        <% end %>
    </div>
    </header>


      <%= yield %>


    <footer>
      <div class="icon">
        <div class="icon_image">
          <%= link_to image_tag("home.png", class: :image), root_path %>
          <%# <div class="icon_name"> %>
          <%# ホーム %>
          <%# </div> %>
        </div>
        <div class="icon_image">
          <%= link_to image_tag("search.png", class: :image), root_path %>
          <%# <div class="icon_name"> %>
          <%# 検索 %>
          <%# </div> %>
        </div>
        <% if user_signed_in? && current_user.newuser == true %>   <!-- 在校生の場合 -->
        <% else %> <!-- 新入生の場合 -->
          <div class="icon_image_q">
            <%# <div class="icon_name_q"> %>
            <%# 質問する %>
            <%# </div> %>
            <%= link_to image_tag("question.png", class: :image_q), new_question_path %>
          </div>
        <% end %>
        <div class="icon_image">
          <%= link_to image_tag("message.png", class: :image), root_path %>
          <%# <div class="icon_name"> %>
          <%# やりとり %>
          <%# </div> %>
        </div>
        <div class="icon_image">
          <% if user_signed_in? %>
            <%= link_to image_tag("mypage.png", class: :image), "/users/#{current_user.id}" %>
          <% else %>
            <%= link_to image_tag("mypage.png", class: :image), new_user_session_path %>
          <% end %>
        <%# <div class="icon_name"> %>
          <%# My %>
        <%# </div> %>
      </div>
    </footer>
  </body>
      </div>

</html>
